@(requestForm: Form[models.Request], user: models.User, response: models.Response)

<!DOCTYPE html>

@import helper._

@questionFieldConstructor = @{
    FieldConstructor(fieldConstructor.questionInputFieldConstructor.render)
}
@selectFieldConstructor = @{
    FieldConstructor(fieldConstructor.answerNumberSelectFieldConstructor.render)
}

<html>
    <head>
        <title>Watson Demo</title>
        <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
    </head>
    <body>
        <div class='banner'>
        </div>
        <div class="container main-frame form-inline">
            <div class="search-box row">
                <div class="col-md-6">
                @form(action = routes.Dashboard.askByForm(), 'class -> "form") {

                    @inputText(requestForm("question"),
                        'placeholder -> Messages("dashboard.question.placeholder"),
                        '_label -> Messages("dashboard.question"),
                        '_help -> "",
                        'class -> "form-control")(handler = questionFieldConstructor, implicitly[Lang])

                    @select(requestForm("numberOfAnswers"),
                        options = options(Request.numbersOfAnswers),
                        '_label -> Messages("dashboard.numberOfAnswer"),
                        'value -> 5,
                        'class -> "form-control")(handler = selectFieldConstructor, implicitly[Lang])
                }
                </div>
                <div class="col-md-6">
                    <label class="pull-right">
                        @user.username <small>(<a href="@routes.Application.logout()">Logout</a>)</small>
                    </label>
                </div>
            </div>
            <div class="results-top">
                @if(requestForm.hasErrors) {
                    <p class="error">
                        <span class="label label-danger">@requestForm.globalError.message</span>
                    </p>
                }
                @if(!response.getSimilarQuestions.isEmpty) {
                    <div class="question-box">
                        <div class="row">
                            <div class="col-md-12"><h3>Similar Questions</h3></div>
                            <div class="col-md-12">
                                <ul class="list-inline">

                                @for((question,index) <- response.getSimilarQuestions.zipWithIndex) {
                                    <li>
                                        <a href="@{routes.Dashboard.askByString(question.getQuestion.getQuestionText)}">
                                                @question.getQuestion.getQuestionText</a>
                                    </li>
                                }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="results-container">
                <ul class="episode-list">
                    @if(!response.getFilteredEvidences.isEmpty) {
                        @for((current, index) <- response.getFilteredEvidences.zipWithIndex) {
                            <li>
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="center-block" src='@routes.Assets.at("img/homer.png")' height="100" width="80"/>
                                        <div class="ratings">
                                            <strong>Ratings:</strong>
                                            <button class="btn btn-custom label" type="button">
                                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                            </button>
                                            <button class="btn btn-custom label" type="button">
                                                <span class="glyphicon glyphicon-thumbs-down"></span>
                                            </button>
                                            <span class="label label-danger"><strong>@current.getValue()</strong></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h3>@current.getTitle</h3>
                                        <p>@current.getText</p>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="fulldate pull-right label label-info">@(index + 1)</div>
                                        <ul class="show-info">
                                            <li><strong>Title:</strong> @(current.getTitle)</li>
                                            <li><strong>Episode#:</strong> </li>
                                            <li><strong>Season#:</strong> </li>
                                            <li><strong>Genre:</strong> <span class="label label-success genre">Sitcom</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="results-bottom"></div>
        </div>

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/data.js")'></script>
    </body>
</html>
