@(loginForm: Form[models.Login], signupForm: Form[models.Register])

<!DOCTYPE html>

<html>
    <head>
        <title>Watson Demo Login</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("css/font-awesome.min.css"))'>
    </head>
    <body>
        <div class="container">

            <div class="page-header">
                <h1>Watson-QA Demo<small><a href="http://www.lt.informatik.tu-darmstadt.de"> Language Technology Group</a></small></h1>
            </div>

            <div class="jumbotron">
                <p>The Watson Question and Answer (QA) service interprets and answers user questions directly
                    based on primary data sources (brochures, web pages, manuals, records, etc.) that have been
                    selected and gathered into a body of data or 'corpus'. The service returns candidate responses
                    with associated confidence levels and links to supporting evidence.</p>
            </div>
            
            <div class="row">
                <div class="col-xs-6">
                    <div class="well">
                        @login(loginForm)
                    </div>
                </div>

                <div class="col-xs-6">
                    <p class="lead">Register now for <span class="text-success">FREE</span></p>
                    <ul class="list-unstyled" style="line-height: 2">
                        <li><span class="fa fa-check text-success"></span> Find episodes</li>
                        <li><span class="fa fa-check text-success"></span> Get answers to all your questions</li>
                        <li><span class="fa fa-check text-success"></span> Save your favorites</li>
                        <li><span class="fa fa-check text-success"></span> Get recommandations</li>
                        <li><a href="/read-more/"><u>Read more</u></a></li>
                    </ul>
                    @signup(signupForm)
                </div>
            </div>
        </div>

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
    </body>
</html>
